/* @media (max-width:1400px) {
    
} */

@media (max-width:1200px) {
    .header__content {
        min-height: 547px;
    }
    .header__content h1 {
        font-size: 60px;
    }
    .header__btn {
        padding: 16px 54px;
        font-size: 16px;
    }
    .header
    
.content__left_tittle .gallery__content h2 {
        font-size: 32px;
    }
    .content__left {
        max-width: 400px;
    }
}

@media (max-width:992px) {
    .nav__logo img {
        width: 45px;
        height: 58;
    }

    .nav__list {
        gap: 40px;
    }
}

@media (max-width:768px) {
    .content {
        padding: 79px 0;
        flex-direction: column;
    }
    
    .content__left {
        padding: 0 15px;
        max-width: 100%;
        align-self: center;
    }
    .content__left_tittle {
        text-align: center;
    }
    
    .content__left_text {
        text-align: center;
    }
}

@media (max-width:576px) {
    .nav__btn {
        display: flex;
    }

    .nav__list {
        position: absolute;
        flex-direction: column;
        top: 100%;
        background: #141414;
        padding: 12px;
        right: 0;
        transform: scaleY(0);
    }

    .nav input[type='checkbox']:checked~.nav__content .nav__list {
        transform: scaleY(1);
    }

    .nav input[type='checkbox']:checked~.nav__content .nav__btn span:nth-of-type(2) {
        display: none;
    }
    .nav input[type='checkbox']:checked~.nav__content .nav__btn span:nth-of-type(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
    }
    .nav input[type='checkbox']:checked~.nav__content .nav__btn span:nth-of-type(3) {
            transform: rotate(-45deg);
            position: absolute;
            top: 50%;
    }


}

@media (max-width:320px) {}